*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    background-color: #F68E5F;
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.odin
{

    color: #5171A5;
    font-size: 36px;
    text-align: center;
}

.recipe
{
    font-size: 24px;
    text-align: center;
    color: #F5DD90;
    font-weight: bold;
}

img{
    width: auto;
    height: 500px;
    margin: auto;
    margin-bottom: 10px;
}

button{
    display: block;
    color: #F5DD90;
    background-color: #D4C1EC;
    text-align: center;
    margin: auto;
}

.entree,
.desc,
.ing,
.chicken,
.tomato,
.steps {
    color: #5171A5;
    
}

.entree{
    font-size: 36px;
}

.ing,
.desc{
    font-size: 28px;
}

.chicken,
.tomato
{
    font-size: 24px;
}

.steps{
    font-size: 20px;
}

p,
.ingrecipe,
.stepslist{
    color: #F5DD90;
}




  
